@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region :::: UTILITIES :::: */

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: aliceblue;
}

img {
  max-width: 100%;
}

/* #endregion :::: UTILITIES :::: */