@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region :::: UTILITIES :::: */

body {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: var(--background);
}

img {
  max-width: 100%;
}

.wrapper {
  height: calc(100vh - 190px);
}

.bg_grey {
  background-color: var(--background);
}

/* #endregion :::: UTILITIES :::: */