@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region :::: UTILITIES :::: */

body {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: linear-gradient(135deg, #0023b3 0%, #00d2ff 100%);
  height: 100vh;
}

img {
  max-width: 100%;
}

.wrapper {
  height: calc(100vh - 188.8px);
}

/* #endregion :::: UTILITIES :::: */