@use './variables' as *;

main {
  height: calc(100vh - 55px);
  overflow-y: auto;
}

.project_list {
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
}

.highlighted_projects,
.about_me {
  height: calc(100vh - 190px);
}