@use './variables' as *;

#menu {
  width: 300px;
  position: fixed;

  a {
    font-size: 5rem;
    color: aliceblue;
    text-decoration: underline 0.15em #ff69b400;
    transition: text-decoration-color 300ms;

    &:hover,
    &.router-link-active {
      text-decoration-color: hotpink;
    }

  }
}