.carousel__slide {
  padding: 5px;

  img {
    border-radius: 1rem;
  }

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--active~.carousel__slide {
  transform: rotateY(20deg) scale(0.9);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(0.95);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.1);
}

.carousel__next,
.carousel__prev {
  color: aliceblue;

  &:hover {
    color: hotpink
  }
}

.carousel__prev {
  left: -5%;
}

.carousel__next {
  left: 101%;
}

.carousel__pagination-button::after {
  background-color: aliceblue;
}

.carousel__pagination-button--active::after {
  background-color: hotpink;
}

.carousel__viewport {
  perspective: 2000px;
}

.carousel__track {
  height: 450px;
  transform-style: preserve-3d;
}