/* #region :::: SLIDE :::: */

.project_slide {
  width: 800px;
  position: relative;
  border: 5px solid white;
  clip-path: polygon(0% 3.4%, 100% 0, 99% 99%, 1% 96%);
  background-color: white;
  padding: 0.5rem;

  img {
    padding: 0.4rem;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
    border: 0.6rem solid rgb(255, 24, 0);
    background-color: black;
    clip-path: polygon(1% 1.9%, 100% 0, 99.3% 100.1%, 0 98%);
  }

  .title_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    text-align: start;
  }

  h3 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
  }
}

/* #endregion :::: SLIDE :::: */

/*  #region :::: CAROUSEL :::: */
.carousel__slide {
  padding: 5px;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }

  &:active {
    cursor: grabbing;
  }
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg);
}

.carousel__slide--active~.carousel__slide {
  transform: rotateY(20deg);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-20deg);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.3);
}

.carousel__pagination-button {
  &:hover {
    &::after {
      background-color: hotpink;
    }
  }

  &::after {
    background-color: aliceblue;
  }
}

.carousel__pagination-button--active::after {
  background-color: hotpink;

  &:hover {
    background-color: hotpink;
  }
}

.carousel__viewport {
  // perspective: 1000px;
  height: 625px;
}

.carousel__track {
  height: 650px;
  transform-style: preserve-3d;
}

/* #endregion :::: CAROUSEL :::: */