/* #region :::: CAROUSEL :::: */

.carousel {
  padding: 6rem 0;
  position: relative;
  height: calc(100vh - 263px);
  overflow: hidden;
  margin: auto;
}

.carousel__slide {
  transition: all 0.5s ease;
  opacity: 0.7;
  transform: scale(0.8);
}

.carousel__slide--active {
  opacity: 1;
  transform: scale(1.1); // Aumenta la dimensione della slide attiva
  z-index: 2; // Assicura che la slide attiva sia sopra le altre
}

.carousel__slide--prev,
.carousel__slide--next {
  opacity: 0.9;
  transform: scale(0.9);
  z-index: 1;
}

.carousel__viewport {
  perspective: 1000px;
  overflow: visible; // Permette alla slide centrale di estendersi oltre i confini del viewport
}

.carousel__track {
  transform-style: preserve-3d;
  height: 480px;
  padding: 10% 0; // Aggiunge spazio sopra e sotto per la slide ingrandita
}

/* #endregion :::: CAROUSEL :::: */


/* #region :::: SLIDE :::: */
.project_slide {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 16px;
  padding: 0;
  transition: transform 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    padding: 0;
    max-height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  &:hover img {
    filter: brightness(1.1);
    transform: scale(1.1);
  }

  .title_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 70%);
    text-align: start;
  }

  h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }

  &:hover h3 {
    transform: translateY(-5px);
  }
}

/* #endregion :::: SLIDE :::: */


/* #region :::: NAVIGATION :::: */

.carousel__prev,
.carousel__next {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-50%) scale(1.1);
  }
}

.carousel__prev {
  left: 10%;
}

.carousel__next {
  right: 10%;
}

/* #endregion :::: NAVIGATION :::: */