@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region :::: UTILITIES :::: */
body {
  background-color: #ededed;
}

img {
  max-width: 100%;
}

/* #endregion :::: UTILITIES :::: */


/* #region :::: CARD :::: */
.card {
  background-color: white;
  height: 100%;

  >img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

}

/* #endregion :::: CARD :::: */